* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url("../img/DataTech\ Company\ Presentation.png");
	background-size: cover;
	font-family: "Poppins", sans-serif;
}

.logo {
	width: 10%;
	margin: 0;
	margin-left: 30px;
	padding: 10px;
}

.logo2{
    width: 30vw;
}

header {
	background-color: rgba(0, 0, 0, 0.7);
}

.cabecalho {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

nav button {
	cursor: pointer;
	border: 1px solid white;
	border-radius: 2px;
	color: #fff;
	background-color: transparent;
	width: auto;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	transition: all 0.3s ease;
}

nav button:hover {
	background-color: white;
	color: #000;
}
.container {
	margin: 1vw;
	padding: 1vw;
	background: linear-gradient(to right, rgba(0, 181, 248, 0.8), rgba(48, 73, 154, 0.5));
	border-radius: 10px;
    display: flex;
    flex-direction: initial;
    align-items: center;
	color: white;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo {
}

.texto {
	text-align: center;
}

.mobile-button {
	align-self: center;
	margin-right: 30px;
}

.menu-buttons {
	display: flex;
	width: 50vw;
	align-self: center;
	justify-content: space-evenly;
}

.menu-mobile {
	display: none;
	width: 30px;
	height: 4px;
	background-color: #fff;
	margin: 6px 0;
}

.menu-wrapped {
	top: 100px;
	width: 75%;
	height: 80vh;
	background-color: #000;
	position: absolute;
	display: flex;
	flex-direction: column;
}

/* media query selecionando telas com o tamanho de até 700px, ou seja, mobile */
@media (max-width: 700px) {
	/* Adicionando as classes dos elementos que serão modificados */
	.menu-buttons {
		width: 80%;
		display: none;
	}

	.cabecalho {
		height: 100px;
	}

	.logo {
		width: auto;
	}

	.menu-mobile {
		display: block;
	}

	nav button {
		margin: 20px 0;
	}
}
